In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/datacampdatasets/temperatures.csv
/kaggle/input/datacampdatasets/homelessness.csv
/kaggle/input/datacampdatasets/hourly_wages.csv
/kaggle/input/datacampdatasets/sales_subset.csv
/kaggle/input/datacampdatasets/banknotes.csv

In [2]:
temperatures=pd.read_csv("/kaggle/input/datacampdatasets/temperatures.csv",index_col=0)

# Explicit indexes

## Setting and removing indexes

In [3]:
# Look at temperatures
print(temperatures)

             date     city        country  avg_temp_c
0      2000-01-01  Abidjan  Côte D'Ivoire      27.293
1      2000-02-01  Abidjan  Côte D'Ivoire      27.685
2      2000-03-01  Abidjan  Côte D'Ivoire      29.061
3      2000-04-01  Abidjan  Côte D'Ivoire      28.162
4      2000-05-01  Abidjan  Côte D'Ivoire      27.547
...           ...      ...            ...         ...
16495  2013-05-01     Xian          China      18.979
16496  2013-06-01     Xian          China      23.522
16497  2013-07-01     Xian          China      25.251
16498  2013-08-01     Xian          China      24.528
16499  2013-09-01     Xian          China         NaN

[16500 rows x 4 columns]

In [4]:
# Set the index of temperatures to city
temperatures_ind = temperatures.set_index("city")

# Look at temperatures_ind
print(temperatures_ind)

               date        country  avg_temp_c
city
Abidjan  2000-01-01  Côte D'Ivoire      27.293
Abidjan  2000-02-01  Côte D'Ivoire      27.685
Abidjan  2000-03-01  Côte D'Ivoire      29.061
Abidjan  2000-04-01  Côte D'Ivoire      28.162
Abidjan  2000-05-01  Côte D'Ivoire      27.547
...             ...            ...         ...
Xian     2013-05-01          China      18.979
Xian     2013-06-01          China      23.522
Xian     2013-07-01          China      25.251
Xian     2013-08-01          China      24.528
Xian     2013-09-01          China         NaN

[16500 rows x 3 columns]

In [5]:
# Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index())

          city        date        country  avg_temp_c
0      Abidjan  2000-01-01  Côte D'Ivoire      27.293
1      Abidjan  2000-02-01  Côte D'Ivoire      27.685
2      Abidjan  2000-03-01  Côte D'Ivoire      29.061
3      Abidjan  2000-04-01  Côte D'Ivoire      28.162
4      Abidjan  2000-05-01  Côte D'Ivoire      27.547
...        ...         ...            ...         ...
16495     Xian  2013-05-01          China      18.979
16496     Xian  2013-06-01          China      23.522
16497     Xian  2013-07-01          China      25.251
16498     Xian  2013-08-01          China      24.528
16499     Xian  2013-09-01          China         NaN

[16500 rows x 4 columns]

In [6]:
# Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

             date        country  avg_temp_c
0      2000-01-01  Côte D'Ivoire      27.293
1      2000-02-01  Côte D'Ivoire      27.685
2      2000-03-01  Côte D'Ivoire      29.061
3      2000-04-01  Côte D'Ivoire      28.162
4      2000-05-01  Côte D'Ivoire      27.547
...           ...            ...         ...
16495  2013-05-01          China      18.979
16496  2013-06-01          China      23.522
16497  2013-07-01          China      25.251
16498  2013-08-01          China      24.528
16499  2013-09-01          China         NaN

[16500 rows x 3 columns]

## Subsetting with .loc[]

In [7]:
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

print("----------------------------------------------------")

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

             date              city country  avg_temp_c
10725  2000-01-01            Moscow  Russia      -7.313
10726  2000-02-01            Moscow  Russia      -3.551
10727  2000-03-01            Moscow  Russia      -1.661
10728  2000-04-01            Moscow  Russia      10.096
10729  2000-05-01            Moscow  Russia      10.357
...           ...               ...     ...         ...
13360  2013-05-01  Saint Petersburg  Russia      12.355
13361  2013-06-01  Saint Petersburg  Russia      17.185
13362  2013-07-01  Saint Petersburg  Russia      17.234
13363  2013-08-01  Saint Petersburg  Russia      17.153
13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 4 columns]
----------------------------------------------------
                        date country  avg_temp_c
city
Moscow            2000-01-01  Russia      -7.313
Moscow            2000-02-01  Russia      -3.551
Moscow            2000-03-01  Russia      -1.661
Moscow            2000-04-01  Russia      10.096
Moscow            2000-05-01  Russia      10.357
...                      ...     ...         ...
Saint Petersburg  2013-05-01  Russia      12.355
Saint Petersburg  2013-06-01  Russia      17.185
Saint Petersburg  2013-07-01  Russia      17.234
Saint Petersburg  2013-08-01  Russia      17.153
Saint Petersburg  2013-09-01  Russia         NaN

[330 rows x 3 columns]

## Setting multi-level indexes

In [8]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

                               date  avg_temp_c
country  city
Brazil   Rio De Janeiro  2000-01-01      25.974
         Rio De Janeiro  2000-02-01      26.699
         Rio De Janeiro  2000-03-01      26.270
         Rio De Janeiro  2000-04-01      25.750
         Rio De Janeiro  2000-05-01      24.356
...                             ...         ...
Pakistan Lahore          2013-05-01      33.457
         Lahore          2013-06-01      34.456
         Lahore          2013-07-01      33.279
         Lahore          2013-08-01      31.511
         Lahore          2013-09-01         NaN

[330 rows x 2 columns]

## Sorting by index values

In [9]:
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

In [10]:
# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level="city"))

                             date  avg_temp_c
country       city
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547
...                           ...         ...
China         Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN

[16500 rows x 2 columns]

In [11]:
# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=["country", "city"], ascending = [True, False]))

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

# Slicing and subsetting with .loc and .iloc

## Slicing index values

In [12]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"])

                                 date  avg_temp_c
country  city
Pakistan Faisalabad        2000-01-01      12.792
         Faisalabad        2000-02-01      14.339
         Faisalabad        2000-03-01      20.309
         Faisalabad        2000-04-01      29.072
         Faisalabad        2000-05-01      34.845
...                               ...         ...
Russia   Saint Petersburg  2013-05-01      12.355
         Saint Petersburg  2013-06-01      17.185
         Saint Petersburg  2013-07-01      17.234
         Saint Petersburg  2013-08-01      17.153
         Saint Petersburg  2013-09-01         NaN

[1155 rows x 2 columns]

In [13]:
# incorrect usage
# Try to subset rows from Lahore to Moscow
print(temperatures_srt.loc["Lahore":"Moscow"])

                          date  avg_temp_c
country city
Mexico  Mexico      2000-01-01      12.694
        Mexico      2000-02-01      14.677
        Mexico      2000-03-01      17.376
        Mexico      2000-04-01      18.294
        Mexico      2000-05-01      18.562
...                        ...         ...
Morocco Casablanca  2013-05-01      19.217
        Casablanca  2013-06-01      23.649
        Casablanca  2013-07-01      27.488
        Casablanca  2013-08-01      27.952
        Casablanca  2013-09-01         NaN

[330 rows x 2 columns]

In [14]:
# correct usage
# Subset rows from Pakistan, Lahore to Russia, Moscow
print(temperatures_srt.loc[("Pakistan","Lahore"):("Russia","Moscow")])

                       date  avg_temp_c
country  city
Pakistan Lahore  2000-01-01      12.792
         Lahore  2000-02-01      14.339
         Lahore  2000-03-01      20.309
         Lahore  2000-04-01      29.072
         Lahore  2000-05-01      34.845
...                     ...         ...
Russia   Moscow  2013-05-01      16.152
         Moscow  2013-06-01      18.718
         Moscow  2013-07-01      18.136
         Moscow  2013-08-01      17.485
         Moscow  2013-09-01         NaN

[660 rows x 2 columns]

## Slicing in both directions

In [15]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq","Baghdad")])

                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
...                       ...         ...
Iraq    Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]

In [16]:

# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:,"date":"avg_temp_c"])

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

In [17]:
# Subset in both directions at once
print(
    temperatures_srt.loc
    [
    ("India","Hyderabad"):("Iraq","Baghdad"),
    "date":"avg_temp_c"
    ]
    )

                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
...                       ...         ...
Iraq    Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]

## Slicing time series

In [18]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-31")]
print(temperatures_bool)

             date     city        country  avg_temp_c
120    2010-01-01  Abidjan  Côte D'Ivoire      28.270
121    2010-02-01  Abidjan  Côte D'Ivoire      29.262
122    2010-03-01  Abidjan  Côte D'Ivoire      29.596
123    2010-04-01  Abidjan  Côte D'Ivoire      29.068
124    2010-05-01  Abidjan  Côte D'Ivoire      28.258
...           ...      ...            ...         ...
16474  2011-08-01     Xian          China      23.069
16475  2011-09-01     Xian          China      16.775
16476  2011-10-01     Xian          China      12.587
16477  2011-11-01     Xian          China       7.543
16478  2011-12-01     Xian          China      -0.490

[2400 rows x 4 columns]

In [19]:
# Set date as the index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()

In [20]:
# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])

                  city    country  avg_temp_c
date
2010-01-01  Faisalabad   Pakistan      11.810
2010-01-01   Melbourne  Australia      20.016
2010-01-01   Chongqing      China       7.921
2010-01-01   São Paulo     Brazil      23.738
2010-01-01   Guangzhou      China      14.136
...                ...        ...         ...
2010-12-01     Jakarta  Indonesia      26.602
2010-12-01       Gizeh      Egypt      16.530
2010-12-01      Nagpur      India      19.120
2010-12-01      Sydney  Australia      19.559
2010-12-01    Salvador     Brazil      26.265

[1200 rows x 3 columns]

In [21]:
# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08":"2011-02"])

                     city        country  avg_temp_c
date
2010-08-01       Calcutta          India      30.226
2010-08-01           Pune          India      24.941
2010-08-01          Izmir         Turkey      28.352
2010-08-01        Tianjin          China      25.543
2010-08-01         Manila    Philippines      27.101
...                   ...            ...         ...
2011-01-01  Dar Es Salaam       Tanzania      28.541
2011-01-01        Nairobi          Kenya      17.768
2011-01-01    Addis Abeba       Ethiopia      17.708
2011-01-01        Nanjing          China       0.144
2011-01-01       New York  United States      -4.463

[600 rows x 3 columns]

## Subsetting by row/column number

In [22]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[:23, :2])

          date     city
0   2000-01-01  Abidjan
1   2000-02-01  Abidjan
2   2000-03-01  Abidjan
3   2000-04-01  Abidjan
4   2000-05-01  Abidjan
5   2000-06-01  Abidjan
6   2000-07-01  Abidjan
7   2000-08-01  Abidjan
8   2000-09-01  Abidjan
9   2000-10-01  Abidjan
10  2000-11-01  Abidjan
11  2000-12-01  Abidjan
12  2001-01-01  Abidjan
13  2001-02-01  Abidjan
14  2001-03-01  Abidjan
15  2001-04-01  Abidjan
16  2001-05-01  Abidjan
17  2001-06-01  Abidjan
18  2001-07-01  Abidjan
19  2001-08-01  Abidjan
20  2001-09-01  Abidjan
21  2001-10-01  Abidjan
22  2001-11-01  Abidjan

In [23]:
# Use slicing to get the first 5 rows
print(temperatures.iloc[:5])

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [24]:
# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:4])

             country  avg_temp_c
0      Côte D'Ivoire      27.293
1      Côte D'Ivoire      27.685
2      Côte D'Ivoire      29.061
3      Côte D'Ivoire      28.162
4      Côte D'Ivoire      27.547
...              ...         ...
16495          China      18.979
16496          China      23.522
16497          China      25.251
16498          China      24.528
16499          China         NaN

[16500 rows x 2 columns]

In [25]:
# Use slicing in both directions at once
print(temperatures.iloc[:5,2:4])

         country  avg_temp_c
0  Côte D'Ivoire      27.293
1  Côte D'Ivoire      27.685
2  Côte D'Ivoire      29.061
3  Côte D'Ivoire      28.162
4  Côte D'Ivoire      27.547

# Working with pivot tables

## Pivot temperature by city and year

In [26]:
temperatures["date"] = pd.to_datetime(temperatures["date"], errors='coerce')

# Add a year column to temperatures
temperatures["year"] = temperatures["date"].dt.year

# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c", index = ["country", "city"], columns = "year")

# See the result
print(temp_by_country_city_vs_year)

year                                 2000       2001       2002       2003  \
country       city
Afghanistan   Kabul             15.822667  15.847917  15.714583  15.132583
Angola        Luanda            24.410333  24.427083  24.790917  24.867167
Australia     Melbourne         14.320083  14.180000  14.075833  13.985583
              Sydney            17.567417  17.854500  17.733833  17.592333
Bangladesh    Dhaka             25.905250  25.931250  26.095000  25.927417
...                                   ...        ...        ...        ...
United States Chicago           11.089667  11.703083  11.532083  10.481583
              Los Angeles       16.643333  16.466250  16.430250  16.944667
              New York           9.969083  10.931000  11.252167   9.836000
Vietnam       Ho Chi Minh City  27.588917  27.831750  28.064750  27.827667
Zimbabwe      Harare            20.283667  20.861000  21.079333  20.889167

year                                 2004       2005       2006       2007  \
country       city
Afghanistan   Kabul             16.128417  14.847500  15.798500  15.518000
Angola        Luanda            24.216167  24.414583  24.138417  24.241583
Australia     Melbourne         13.742083  14.378500  13.991083  14.991833
              Sydney            17.869667  18.028083  17.749500  18.020833
Bangladesh    Dhaka             26.136083  26.193333  26.440417  25.951333
...                                   ...        ...        ...        ...
United States Chicago           10.943417  11.583833  11.870500  11.448333
              Los Angeles       16.552833  16.431417  16.623083  16.699917
              New York          10.389500  10.681417  11.519250  10.627333
Vietnam       Ho Chi Minh City  27.686583  27.884000  28.044000  27.866667
Zimbabwe      Harare            20.307667  21.487417  20.699750  20.746250

year                                 2008       2009       2010       2011  \
country       city
Afghanistan   Kabul             15.479250  15.093333  15.676000  15.812167
Angola        Luanda            24.266333  24.325083  24.440250  24.150750
Australia     Melbourne         14.110583  14.647417  14.231667  14.190917
              Sydney            17.321083  18.175833  17.999000  17.713333
Bangladesh    Dhaka             26.004500  26.535583  26.648167  25.803250
...                                   ...        ...        ...        ...
United States Chicago           10.242417  10.298333  11.815917  11.214250
              Los Angeles       17.014750  16.677000  15.887000  15.874833
              New York          10.641667  10.141833  11.357583  11.272250
Vietnam       Ho Chi Minh City  27.611417  27.853333  28.281750  27.675417
Zimbabwe      Harare            20.680500  20.523833  21.165833  20.781750

year                                 2012       2013
country       city
Afghanistan   Kabul             14.510333  16.206125
Angola        Luanda            24.240083  24.553875
Australia     Melbourne         14.268667  14.741500
              Sydney            17.474333  18.089750
Bangladesh    Dhaka             26.283583  26.587000
...                                   ...        ...
United States Chicago           12.821250  11.586889
              Los Angeles       17.089583  18.120667
              New York          11.971500  12.163889
Vietnam       Ho Chi Minh City  28.248750  28.455000
Zimbabwe      Harare            20.523333  19.756500

[100 rows x 14 columns]

## Subsetting pivot tables

In [27]:
# Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt":"India"]

year                       2000       2001       2002       2003       2004  \
country  city
Egypt    Alexandria   20.744500  21.454583  21.456167  21.221417  21.064167
         Cairo        21.486167  22.330833  22.414083  22.170500  22.081917
         Gizeh        21.486167  22.330833  22.414083  22.170500  22.081917
Ethiopia Addis Abeba  18.241250  18.296417  18.469750  18.320917  18.292750
France   Paris        11.739667  11.371250  11.871333  11.909500  11.338833
Germany  Berlin       10.963667   9.690250  10.264417  10.065750   9.822583
India    Ahmadabad    27.436000  27.198083  27.719083  27.403833  27.628333
         Bangalore    25.337917  25.528167  25.755333  25.924750  25.252083
         Bombay       27.203667  27.243667  27.628667  27.578417  27.318750
         Calcutta     26.491333  26.515167  26.703917  26.561333  26.634333
         Delhi        26.048333  25.862917  26.634333  25.721083  26.239917
         Hyderabad    27.231833  27.555167  27.665167  27.844583  27.228500
         Jaipur       26.430250  26.023000  27.031667  26.027417  26.642167
         Kanpur       25.353917  25.326500  26.116833  25.409083  25.586500
         Lakhnau      25.353917  25.326500  26.116833  25.409083  25.586500
         Madras       28.811667  29.162917  29.246500  29.273083  28.810917
         Nagpur       26.181417  26.321667  26.753000  26.503833  26.406333
         New Delhi    26.048333  25.862917  26.634333  25.721083  26.239917
         Pune         25.110917  25.337833  25.583000  25.748417  25.316167
         Surat        27.029000  26.897250  27.347750  27.230917  27.290583

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Alexandria   21.082333  21.148167  21.507750  21.739000  21.670500
         Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250
         Hyderabad    27.488833  27.471000  27.545333  27.446667  28.026500
         Jaipur       25.772250  26.429833  26.267000  25.877583  26.919500
         Kanpur       25.621500  25.848833  25.436083  25.109750  25.987083
         Lakhnau      25.621500  25.848833  25.436083  25.109750  25.987083
         Madras       29.099417  29.073250  28.970167  29.024083  29.417417
         Nagpur       26.229167  26.374833  26.393667  26.188000  27.138917
         New Delhi    25.716083  26.365917  26.145667  25.675000  26.554250
         Pune         25.085583  25.310167  25.584833  25.230250  25.868250
         Surat        26.724500  27.149417  27.311750  26.828750  27.819833

year                       2010       2011       2012       2013
country  city
Egypt    Alexandria   22.459583  21.181500  21.552583  21.438500
         Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250
         Hyderabad    27.693417  27.408833  28.018583  28.851250
         Jaipur       26.818417  25.916500  25.884500  26.844125
         Kanpur       26.021750  25.062083  25.445417  26.121250
         Lakhnau      26.021750  25.062083  25.445417  26.121250
         Madras       29.047333  29.063167  29.778417  30.411750
         Nagpur       26.927000  26.004667  26.327917  27.112375
         New Delhi    26.520250  25.629500  25.889417  26.709250
         Pune         25.749167  25.161417  25.296833  25.847625
         Surat        27.681667  27.016583  26.889250  27.437750

In [28]:
# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi")]

year                       2000       2001       2002       2003       2004  \
country  city
Egypt    Cairo        21.486167  22.330833  22.414083  22.170500  22.081917
         Gizeh        21.486167  22.330833  22.414083  22.170500  22.081917
Ethiopia Addis Abeba  18.241250  18.296417  18.469750  18.320917  18.292750
France   Paris        11.739667  11.371250  11.871333  11.909500  11.338833
Germany  Berlin       10.963667   9.690250  10.264417  10.065750   9.822583
India    Ahmadabad    27.436000  27.198083  27.719083  27.403833  27.628333
         Bangalore    25.337917  25.528167  25.755333  25.924750  25.252083
         Bombay       27.203667  27.243667  27.628667  27.578417  27.318750
         Calcutta     26.491333  26.515167  26.703917  26.561333  26.634333
         Delhi        26.048333  25.862917  26.634333  25.721083  26.239917

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250

year                       2010       2011       2012       2013
country  city
Egypt    Cairo        23.718250  21.986917  22.484250  22.907000
         Gizeh        23.718250  21.986917  22.484250  22.907000
Ethiopia Addis Abeba  18.298250  18.606750  18.448583  19.539000
France   Paris        10.409833  12.325750  11.219917  11.011625
Germany  Berlin        8.606833  10.556417   9.964333  10.121500
India    Ahmadabad    28.017833  27.290417  27.027250  27.608625
         Bangalore    25.705250  25.362083  26.042333  26.610500
         Bombay       27.765417  27.384917  27.192500  26.713000
         Calcutta     27.288833  26.406917  26.935083  27.369250
         Delhi        26.520250  25.629500  25.889417  26.709250

In [29]:
# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi"),2005:2010]

year                       2005       2006       2007       2008       2009  \
country  city
Egypt    Cairo        22.006500  22.050000  22.361000  22.644500  22.625000
         Gizeh        22.006500  22.050000  22.361000  22.644500  22.625000
Ethiopia Addis Abeba  18.312833  18.427083  18.142583  18.165000  18.765333
France   Paris        11.552917  11.788500  11.750833  11.278250  11.464083
Germany  Berlin        9.919083  10.545333  10.883167  10.657750  10.062500
India    Ahmadabad    26.828083  27.282833  27.511167  27.048500  28.095833
         Bangalore    25.476500  25.418250  25.464333  25.352583  25.725750
         Bombay       27.035750  27.381500  27.634667  27.177750  27.844500
         Calcutta     26.729167  26.986250  26.584583  26.522333  27.153250
         Delhi        25.716083  26.365917  26.145667  25.675000  26.554250

year                       2010
country  city
Egypt    Cairo        23.718250
         Gizeh        23.718250
Ethiopia Addis Abeba  18.298250
France   Paris        10.409833
Germany  Berlin        8.606833
India    Ahmadabad    28.017833
         Bangalore    25.705250
         Bombay       27.765417
         Calcutta     27.288833
         Delhi        26.520250

## Calculating on a pivot table

In [30]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()
mean_temp_by_year

year
2000    19.506243
2001    19.679352
2002    19.855685
2003    19.630197
2004    19.672204
2005    19.607239
2006    19.793993
2007    19.854270
2008    19.608778
2009    19.833752
2010    19.911734
2011    19.549197
2012    19.668239
2013    20.312285
dtype: float64

In [31]:
# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

year
2013    20.312285
dtype: float64

In [32]:
# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")
mean_temp_by_city

country        city
Afghanistan    Kabul               15.541955
Angola         Luanda              24.391616
Australia      Melbourne           14.275411
               Sydney              17.799250
Bangladesh     Dhaka               26.174440
                                     ...
United States  Chicago             11.330825
               Los Angeles         16.675399
               New York            10.911034
Vietnam        Ho Chi Minh City    27.922857
Zimbabwe       Harare              20.699000
Length: 100, dtype: float64

In [33]:
# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])

country  city
China    Harbin    4.876551
dtype: float64